<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>
<form th:method="POST" th:action="@{/users}" th:object="${user}">

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>

    <label for="lastName">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>

    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>

    <label for="national">Enter nation: </label>
    <input type="text" th:field="*{national}" id="national"/>
    <br/>

    <input type="submit" value="Create!"/>
</form>
</body>
</html>